langchain
langchain-groq
faiss-cpu
tiktoken
langchain-community
langchain-openai
sentence-transformers
pypdf
python-dotenv
pymupdf
unstructured
pdfminer
python-docx
docx2txt
pandas
openpyxl
matplotlib
gradio
## Embeddings
langchain-huggingface
sentence-transformers
langchain-experimental
rank_bm25
wikipedia
langgraph
python-docx
docx2txt
sqlite3